{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1>{{ titre }}</h1>
            <hr/>
            <div class="card">
                <div class="card-header h5">Operations</div>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Encode Message</h5>
                                    <a class="stretched-link" href="/encode"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Decode message</h5>
                                    <a class="stretched-link" href="/decode"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

